.clock {
    background-color: Iblue;
    width: 400px;
    text-align: center;
    color: white;
    font-size: 1em;
}

.clock>span>span {
    padding: 5px;
    border-radius: 10px;
    background-color: red;
}

.clock>span {
    padding: 10px;
    border-radius: 10px;
    background-color: black;
}

input {
    padding: 15px;
    margin: 20px;
    font-size: 1.5em;
}